<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="atra"> ATRA</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <h2>Hello, USER</h2>
  <h2></h2>
  <div class="box">
    <p>STATIC CONTENT AT THE FRONT PAGE</p>
    <b>MOIII</b>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, inventore consequatur perferendis asperiores
      possimus dolore aspernatur beatae dolorum harum explicabo voluptas doloribus qui tempore consequuntur voluptatum
      dicta a distinctio voluptates!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ullam eum perferendis, pariatur id itaque,
      perspiciatis porro doloremque nobis quae, velit minus! Voluptatibus deserunt voluptates excepturi vel doloremque!
      Eum, fuga.</p>
  </div>

</ion-content>