<ion-content [fullscreen]="true">
  <ng-toast></ng-toast>
  <!--MODAALI-->
  @if (showReview) {
  <app-modalentry (cancel)="handleCancel()" [reviewEntry]="newEntry"></app-modalentry>
  }

  <div class="justify-center">

    <h2 class="text-neutral-50 text-center text-3xl my-2 font-pt-serif">Adding a new entry</h2>


    <div class="space-y-2 mx-3">

      <!-- Customer -->
      <div>
        <label for="customer" class="block mb-1 text-xl font-lato text-neutral-50 mx-1">Customer</label>

        <!--antaa formiin customerId item_customer.id perusteella-->
        <ng-select [items]="customers" [(ngModel)]="selectedCustomerId" bindValue="customer_id"
          [searchFn]="filteredCustomers" class="custom">
          <ng-template ng-option-tmp let-item="item" class="custom">
            {{item.last_name}}, {{item.first_name}}
          </ng-template>
          <ng-template ng-label-tmp let-item="item">
            {{ item.last_name }} {{ item.first_name }}
          </ng-template>
        </ng-select>

      </div>

      <!-- Date -->
      <div>
        <label for="date" class="block mb-1 text-xl font-lato text-neutral-50 mx-1">Date</label>
        <input id="date" type="datetime-local" class="border border-gray-300 text-slate-50 bg-slate-800 text-lg rounded-lg block w-full ps-10 p-2.5 
                 focus:ring-slate-500 focus:border-slate-900" [(ngModel)]="newEntry.entry_date" />
      </div>

      <!-- Inks -->
      <div>
        <label for="ink" class="block mb-1 text-xl font-lato text-neutral-50 mx-1">Inks</label>
        <ion-searchbar class="custom" placeholder="Search" [(ngModel)]="searchInk"></ion-searchbar>
        <div class="scrollable">

          @for (ink of filteredInks(); track ink.user_ink_id) {
          <!--Tätä voi muokata-->
          <div class="flex justify-center bg-slate-950 my-2 mx-2 p-3">
            <img src="{{ink.image_url}}" width="20%" />

            <p class>{{ink.product_name}} - {{ink.color}} -{{ink.batch_number}}</p>

            <input class="bg-slate-600 text-neutral-50 font-lato text-l p-1 rounded-2xl" type="button" value="Select"
              (click)="chooseInk(ink)">
          </div>
          }

        </div>
        @if (getChosenInks().length > 0 ) {
        <div class="items-center text-center">
          <ion-badge
            style="--background: rgb(0, 0, 0); padding: 10px; color: white; border-color: white; border-width: 2px; ">{{getChosenInks().length}}</ion-badge>
          <span class="text-2xl font-pt-serif"> Inks chosen</span>

        </div>
        }

      </div>

      <div>
        <label for="description" class="block mb-1 text-xl font-lato text-neutral-50 mx-1">Comments</label>
        <textarea id="description" rows="4"
          class="block p-2.5 w-full max-h-28 text-lg text-neutral-100 bg-gray-50 rounded-lg border bg-slate-800 border-gray-600 mx-1"
          placeholder="Write any additional comments here." [(ngModel)]="newEntry.comments"></textarea>
      </div>


      <div class="flex flex-wrap justify-center gap-3 pt-2">
        <button type="button" class="text-red-600 inline-flex items-center hover:text-neutral-50 border border-slate-600
                focus:ring-2 focus:outline-none focus:ring-red-800 font-medium 
               rounded-lg text-lg px-4 py-2 text-center">
          Back
        </button>
        <button (click)="submit()" type="submit" class="text-neutral-50 bg-slate-600 hover:bg-teal-600 focus:ring-2 focus:outline-none 
               focus:ring-slate-400 font-medium rounded-lg text-lg px-4 py-2 text-center">
          Continue
        </button>
      </div>

    </div>
  </div>


</ion-content>