<ion-content>

  <!--MODALINK tarvitsee form arrayn tiedot => lähetettävä sille kopio formarraysta-->
  @if (showReview) { <app-modalink [chosenInks]="inkGroup.get('chosenInks')" (cancel)="handleCancel()"></app-modalink>
  }
  <h1>Adding a new ink to your library</h1>

  <h3>Start by searching for inks</h3>
  <ion-list>
    <ion-searchbar animated="true" placeholder="Search" [(ngModel)]="searchItem" />

    @for (ink of filteredInks(); track ink.id) {
    <div class="b">{{ink.product_name}} - <small>{{ink.manufacturer}} - {{ink.color}}
      </small><input type="button" value="Choose ink" (click)="chooseInk(ink)">
    </div>
    }

  </ion-list>

  <ion-button tab="tabs/inks" href="tabs/inks">Cancel</ion-button>
  <ion-button (click)="review()">Continue</ion-button>

</ion-content>