<ion-content fullscreen="true">

  <!--MODALINK tarvitsee form arrayn tiedot => lähetettävä sille kopio formarraysta-->
  @if (showReview) { <app-modalink [chosenInks]="getChosenInks()" (cancel)="handleCancel()"
    (delete)="handleDelete($event)" (confirm)="handleConfirm()"></app-modalink>
  }
  <ng-toast></ng-toast>
  <div class="">
    <div class="flex-1 p-6 text-neutral-50 text-center space-y-3">
      <h1 class="text-4xl font-pt-serif">Adding a new ink to your library</h1>

      <h3 class="font-lato">Start by searching for inks</h3>
    </div>
    <!--Jos searchbarin ulkoasua muokkaa, pitää tehdä style-elementin sisällä -->
    <ion-searchbar class="custom" animated="true" placeholder="Search" [(ngModel)]="searchItem" />

  </div>

  <!--LUODAAN TÄSTÄ VISUAL SCROLLING css sijaan! renders when scrolled-->
  <!--Käy musteet läpi for-loopissa käyttämällä filteredInks()-funktiota, eli vain hakutulosta vastaavat -->
  <!-- Milja! Älä koske tähän kohtaan :)-->
  <div class="scrollable">

    @for (ink of filteredInks(); track ink.ink_id) {
    <!--Tätä voi muokata-->
    <div class="bg-slate-950 my-2 p-3">
      <img src="{{ink.image_url}}" width="20%" />

      {{ink.product_name}} - {{ink.manufacturer}} - {{ink.color}}

      <input class="bg-slate-800 bg-slate-700 text-neutral-50 font-lato text-l py-2 px-4 rounded-2xl" type="button"
        value="Select" (click)="chooseInk(ink)">
    </div>
    }

  </div>

  <div class="flex-1 p-6 text-neutral-50 text-center">
    @if (getChosenInks().length > 0 ) {
    <div>
      <ion-badge
        style="--background: rgb(0, 0, 0); padding: 10px; color: white; border-color: white; border-width: 2px; ">{{getChosenInks().length}}</ion-badge>
      <span class="text-2xl font-pt-serif"> Inks chosen</span>

    </div>
    }

    <button class="bg-slate-600 text-neutral-50 font-lato text-l py-4 px-4 rounded-xl m-1" (click)="back()">
      Cancel
    </button>

    <button
      class="bg-slate-800 text-neutral-50 font-lato text-l py-4 px-4 rounded-xl m-1 disabled:bg-slate-700 disabled:text-gray-500"
      (click)="review()" [disabled]="getChosenInks().length < 1">Continue</button>
  </div>

</ion-content>