<!-- TÄMÄ ON banneri-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="atra">ATRA</ion-title>
  </ion-toolbar>
</ion-header>

<!--TÄMÄ ON ASIAKASSIVU-->
<ion-content [fullscreen]="true">
  <div class="box2">
    <h2>Customers</h2>
    <ion-searchbar animated="true" placeholder="Search"></ion-searchbar>

    <ion-button tab="customers/addnewcustomer" href="tabs/customers/addnewcustomer">Add new </ion-button>
  </div><!--JOKAINEN ASIAKAS OMASSA BOKSISSAAN-->

  @for (customer of allcustomers; track customer.firstname) {
  <div class="box">
    <h3>{{customer.lastname}}, {{customer.firstname}}</h3>
    <p>{{customer.email}}</p>
  </div>
  }

</ion-content>