<ion-content class="modal-overlay">

  <h2>You're adding a new customer.</h2>

  <ion-list>

    <ion-label>
      <ion-item>{{newcustomer?.first_name}}</ion-item>
    </ion-label>

    <ion-label>
      <ion-item>{{newcustomer?.last_name}}</ion-item>
    </ion-label>

    <ion-label>
      <ion-item>{{newcustomer?.email}}</ion-item>
    </ion-label>

    <ion-label>
      <ion-item>{{newcustomer?.phone}}</ion-item>
    </ion-label>

    <p>Please check customer information before confirming.</p>
    <ion-button (click)="sendCancel()" type="button">Cancel</ion-button>
    <ion-button (click)="sendConfirm()" type="button">Confirm</ion-button>
  </ion-list>

</ion-content>