<ion-content>
  <div class="bg-slate-900 my-2 p-3 text-neutral-50">
    <h2>You're adding a new customer.</h2>

    <ion-list>
      <ion-label class="block m-1 text-lg font-lato text-neutral-50">
        <ion-item>{{newcustomer?.first_name}}</ion-item>
      </ion-label>

      <ion-label class="block m-1 text-lg font-lato text-neutral-50">
        <ion-item>{{newcustomer?.last_name}}</ion-item>
      </ion-label>

      <ion-label class="block m-1 text-lg font-lato text-neutral-50">
        <ion-item>{{newcustomer?.email}}</ion-item>
      </ion-label>

      <ion-label class="block m-1 text-lg font-lato text-neutral-50">
        <ion-item>{{newcustomer?.phone}}</ion-item>
      </ion-label>

      <p>Please check customer information before confirming.</p>
      <ion-button (click)="sendCancel()" type="button"
        class="text-neutral-50 bg-slate-700 hover:bg-slate-500 focus:ring-4 focus:outline-none focus:ring-slate-400 font-medium rounded-lg text-sm px-4 py-2 text-center">Cancel</ion-button>
      <ion-button (click)="sendConfirm()" type="button"
        class="text-neutral-50 bg-slate-700 hover:bg-slate-500 focus:ring-4 focus:outline-none focus:ring-slate-400 font-medium rounded-lg text-sm px-4 py-2 text-center">Confirm</ion-button>
    </ion-list>

  </div>
</ion-content>