<ion-content class="modal-overlay">

  <h2>You're adding a new customer.</h2>

  <ion-list>
    <ion-label>
      <ion-item>{{newcustomer?.firstname}}</ion-item>
    </ion-label>

    <ion-label>
      <ion-item>{{newcustomer?.lastname}}</ion-item>
    </ion-label>

    <ion-label>
      <ion-item>{{newcustomer?.email}}</ion-item>
    </ion-label>

    <ion-label>
      <ion-item>{{newcustomer?.phonenumber}}</ion-item>
    </ion-label>

    <ion-button (click)="sendCancel()" type="button">Cancel</ion-button>
    <ion-button (click)="sendConfirm()" type="button">Confirm</ion-button>
  </ion-list>
</ion-content>