<!-- No real functionalities here yet! -->

<ion-content [fullscreen]="true" class="bg-slate-950">
  <div class="flex flex-col min-h-full">
    <button
      class="absolute top-4 left-4 z-10 w-8 h-8 flex items-center justify-center bg-slate-700 hover:bg-slate-600 text-neutral-300 hover:text-neutral-50 rounded-full transition-colors"
      (click)="return()"
    >
      <img src="assets/icon/return.svg" alt="back to settings" />
    </button>

    <!-- Header -->
    <div class="px-6 pt-8">
      <h1 class="text-neutral-50 mb-3 pt-6">User Settings</h1>
      <p class="text-slate-100"><i>Manage your profile and preferences</i></p>
    </div>

    <!-- Settings Content -->
    <div class="flex-grow px-6 overflow-y-auto mt-6 space-y-6">
      <!-- Profile Info -->
      <div class="bg-slate-900 rounded-lg p-4">
        <h2 class="text-neutral-50 mb-2">Profile</h2>
        <p class="text-slate-100">
          Name: <span class="text-neutral-300">[User Name]</span>
        </p>
        <p class="text-slate-100">
          Email: <span class="text-neutral-300">[User Email]</span>
        </p>
        <button
          class="mt-3 px-4 py-2 bg-slate-700 text-neutral-50 rounded-full border border-neutral-50/80"
        >
          Edit Profile
        </button>
      </div>

      <!-- Privacy -->
      <div class="bg-slate-900 rounded-lg p-4">
        <h2 class="text-neutral-50 mb-2">Privacy</h2>
        <p class="text-slate-100">Manage your privacy settings and data.</p>
        <button
          class="mt-3 px-4 py-2 bg-slate-700 text-neutral-50 rounded-full border border-neutral-50/80"
        >
          Manage Privacy
        </button>
      </div>

      <!-- Delete Account -->
      <div class="bg-slate-900 rounded-lg p-4 border border-red-600">
        <h2 class="text-red-600 mb-2">Danger Zone</h2>
        <p class="text-slate-100">
          Deleting your account is permanent and cannot be undone.
        </p>
        <br />
        <button
          class="flex-1 border border-red-600 text-red-600 rounded-lg px-3 py-2 inline-flex items-center justify-center gap-2"
        >
          <svg
            class="w-4 h-4"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
          Delete my Account
        </button>
      </div>
    </div>
  </div>
</ion-content>
