<ion-content [fullscreen]="true">
  <form (ngSubmit)="showModal()">
    <ion-list-header collapse="condense">
      Adding a new customer
    </ion-list-header>

    <ion-list>
      <ion-item>
        <ion-input type="text" id="firstname" label="First Name" [(ngModel)]="customer.firstname" name="firstname"
          required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" id="lastname" label="Last Name" [(ngModel)]="customer.lastname" name="lastname"
          required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="email" id="email" label="Email address" [(ngModel)]="customer.email" name="email"
          required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="tel" id="tel" label="Phone number" [(ngModel)]="customer.phonenumber"
          name="phonenumber"></ion-input>
      </ion-item>

    </ion-list>
  </form>

  @if (openModal) {
  <app-modalcustomer [newcustomer]="customer" (confirm)="handleConfirm($event)" (cancel)="handleCancel()"
    [openModal]="openModal"></app-modalcustomer>
  }

  <ion-button tab="tabs/customers" href="tabs/customers">Back</ion-button>
  <ion-button (click)="showModal()">Continue</ion-button>
</ion-content>