<ion-content [fullscreen]="true">
  <form #customerForm="ngForm" (ngSubmit)="showModal()">
    <ion-list-header collapse="condense">
      <h1>Adding a new customer</h1>
    </ion-list-header>
    <h3>Please fill in the following customer information.</h3>
    <ion-list>

      <ion-label>First name</ion-label>
      <ion-item> <ion-input type="text" id="firstname" [(ngModel)]="customer.firstname" #firstname="ngModel"
          name="firstname" minlength="2" pattern="^[A-Za-z]+$" required></ion-input>

        @if (firstname.invalid && (firstname.touched )) {
        <ion-text color="danger">
          <small>Please fill in a valid first name.</small>
        </ion-text>
        }
      </ion-item>

      <ion-label>Last name</ion-label>
      <ion-item>
        <ion-input type="text" id="lastname" [(ngModel)]="customer.lastname" #lastname="ngModel" name="lastname"
          minlength="2" pattern="^[A-Za-z]+$" required></ion-input>

        @if (lastname.invalid && lastname.touched) {
        <ion-text color="danger">
          <small>Please fill in a valid last name.</small>
        </ion-text>
        }
      </ion-item>

      <ion-label>Email address</ion-label>
      <ion-item>
        <ion-input type="text" id="email" [(ngModel)]="customer.email" #email="ngModel" name="email" required
          pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9\-]+(\.[a-zA-Z]{2,})+$"></ion-input>
        @if (email.invalid && email.touched) {
        <ion-text color="danger">
          @if (email.errors?.['required']) {
          <small>Email is required.</small>
          }
          @if (email.errors?.['pattern']) {
          <small>Please enter a valid email address (with full domain).</small>
          }
        </ion-text>
        }
      </ion-item>

      <ion-label>Phone number</ion-label>
      <ion-item>
        <ion-input type="tel" id="tel" [(ngModel)]="customer.phonenumber" #phonenumber="ngModel" name="phonenumber"
          pattern="^\+?[0-9]{1,3}([\- ]?[0-9]{1,4}){2,3}$"></ion-input>
        @if (phonenumber.invalid && phonenumber.touched) {
        <ion-text color="danger">
          <small>Phone number must be in valid format.</small>
        </ion-text>
        }
      </ion-item>


    </ion-list>
  </form>

  @if (openModal) {
  <app-modalcustomer [newcustomer]="customer" (confirm)="handleConfirm($event)" (cancel)="handleCancel()"
    [openModal]="openModal"></app-modalcustomer>
  }

  <button><a tab="tabs/customers" href="tabs/customers">Back</a></button>
  <button (click)="showModal()">Continue</button>
</ion-content>