h1 {
  font-family: "Macondo Swash Caps", cursive;
  color: oklch(28.6% 0.03 178.416);
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 0.5em rgb(255, 255, 255),
    0 0 0.2em rgb(71, 163, 129);
}
