<div class="p-7 w-full text-neutral-50 h-full z-50">
  <ng-toast></ng-toast>

  <div class=>

    <!--EntryID-->
    <h2 class="text-center text-5xl font-pt-serif">Entry {{chosenEntry.entry_id}}</h2>

    <!--aikatiedot-->
    <h2 class="text-center text-3xl font-pt-serif mb-6">Date and time</h2>
    <div class="bg-slate-700 border border-gray-300 text-gray-50 text-sm rounded-lg  block w-full p-2.5">
      <p>
        {{chosenEntry.entry_date | date:'MMM d, y, h:mm'}}
      </p>
    </div>


    <h2 class="text-center text-3xl font-pt-serif mb-6">Customer</h2>
    <div class="bg-slate-700 border border-gray-300 text-gray-50 text-sm rounded-lg block w-full p-2.5">
      <p>
        {{chosenEntry.first_name}} {{chosenEntry.last_name}} </p>
    </div>


    <h2 class="text-center text-3xl font-pt-serif mb-6">Inks</h2>
    <div class="bg-gray-50 bg-slate-800 border border-gray-300 border-gray-600 rounded-lg p-3 
                  space-y-2 max-h-52 overflow-y-auto">


      @for (ink of chosenEntry.inks; track ink.id) {
      <div class="flex bg-slate-900 my-2 p-1 mx-2">
        <img src="{{ink.image_url}}" width="25%" />
        <p> {{ink.product_name}}, {{ink.manufacturer}}, {{ink.batch_number}}</p>
      </div>
      }

    </div>

    <h2 class="text-center text-3xl font-pt-serif mb-6">Comments</h2>
    <div class="block p-2.5 w-full max-h-28 text-lg text-gray-900 bg-gray-50 rounded-lg border border-gray-300 
               focus:ring-slate-500 focus:border-slate-500 bg-slate-800 border-gray-600 
               text-white">

      @if (chosenEntry.comments === null) {
      <p class="">No comments</p>
      } @else {
      <p>{{chosenEntry.comments}}</p>
      }
    </div>


    <div class="flex justify-end space-x-3 pt-2">
      <button
        class="text-red-600 inline-flex items-center hover:text-neutral-50 border border-red-600 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 text-center"
        (click)="sendDelete(chosenEntry)">
        <svg class="w-5 h-5 mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
            clip-rule="evenodd"></path>
        </svg>
        Delete
      </button>

      <button type="submit"
        class="text-neutral-50 bg-slate-700 hover:bg-slate-500 focus:ring-4 focus:outline-none focus:ring-slate-400 font-medium rounded-lg text-sm px-4 py-2 text-center"
        (click)="toggleUpdateModal(true)">
        Update
      </button>
    </div>

    <button
      class="text-neutral-50 bg-slate-700 hover:bg-slate-500 focus:ring-4 focus:outline-none focus:ring-slate-400 font-medium rounded-lg text-sm px-4 py-2 text-center"
      (click)="sendClose()">
      Close</button>

  </div>
</div>


<ion-modal [isOpen]="showUpdateModal" (didDismiss)="toggleUpdateModal(false)">
  <ng-template>
    <div class="scrollable-wide">
      <div class="fixed inset-0 backdrop-blur-sm flex items-center justify-center z-50">
        <div
          class="relative bg-slate-800 text-neutral-50 rounded-2xl shadow-2xl w-[90%] p-6 border border-white/10 animate-modal-in">

          <h2 class=" text-xl text-slate-50 font-bold text-center">
            You're updating entry {{chosenEntry.entry_id}}
          </h2>
          <p>Please note that you can only update comments, date, time and inks that you have used.</p>

          <label for="date" class="block mb-1 text-lg font-lato text-neutral-50 mx-1">Date</label>
          <input id="date" type="datetime-local"
            class="border border-gray-600 text-slate-50 bg-slate-800 text-lg rounded-lg block w-full ps-10 p-2.5"
            [(ngModel)]="chosenEntry!.entry_date" />
          <p>Current value: {{chosenEntry!.entry_date | date:'MMM d, y, h:mm' }}</p>

          <label for="comments" class="block mb-1 text-lg font-lato text-neutral-50 mx-1">Comments</label>
          <input id="comments" type="text"
            class="border border-gray-600 text-slate-50 bg-slate-800 text-lg rounded-lg block w-full ps-10 p-2.5"
            [(ngModel)]="chosenEntry!.comments" />


          <h2>Add or delete inks</h2>
          <ion-searchbar class="custom" animated="true" placeholder="Search" [(ngModel)]="searchInk" />
          <div class="scrollable">

            @for (ink of filteredInks(); track ink.ink_id) {
            <!--Tätä voi muokata-->
            <div class="bg-slate-950 my-2 p-3">
              <img src="{{ink.image_url}}" width="20%" />

              {{ink.product_name}} - {{ink.manufacturer}} - {{ink.color}}

              <input class="bg-slate-800 bg-slate-700 text-neutral-50 font-lato text-l py-2 px-4 rounded-2xl"
                type="button" value="Select" (click)="chooseInk(ink)">
            </div>
            }

          </div>

          <h3>Chosen inks:</h3>
          <div class="scrollable">
            @for (ink of chosenEntry!.inks; track ink.id) {

            <div class="flex bg-slate-900 my-2 p-1 mx-2">
              <img src="{{ink.image_url}}" width="25%" />
              <p>{{ink.product_name}} - {{ink.manufacturer}} - {{ink.color}} </p>

              <button class="bg-slate-800 text-neutral-50 font-lato text-l py-2 px-4 rounded-2xl"
                (click)="handleInkDelete(ink.id)">Delete</button>
            </div>

            }
          </div>

          <div class="justify-center text-center py-2">
            <p class="my-2">Please check before confirming.</p>
            <button type="button"
              class="text-neutral-50 bg-slate-400 hover:bg-slate-500 focus:ring-4 focus:outline-none focus:ring-slate-400 font-medium rounded-lg text-sm px-4 py-2 mx-4 my-2 text-center"
              (click)="toggleUpdateModal(false)">
              Cancel
            </button>
            <button (click)="updateEntry(chosenEntry)" type="button"
              class="text-neutral-50 bg-slate-600 hover:bg-slate-500 focus:ring-4 focus:outline-none focus:ring-slate-400 font-medium rounded-lg text-sm px-4 py-2 mx-4 my-2 ext-center">
              Confirm
            </button>
          </div>


        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>