<ng-toast></ng-toast>

<div>

  <h2 class="text-center my-4">Entry {{chosenEntry.entry_id}}.</h2>

  <div class="mx-4">

    <div class="py-2 my-2">
      <h3 class="">Date and time</h3>
      <div class="bg-slate-900 border p-2 border-slate-600 rounded-xl my-2 py-2">
        <p>
          {{chosenEntry.entry_date | date:'MMM d, y, h:mm'}}
        </p>
      </div>
    </div>

    <div class="py-1">
      <h3 class="">Customer</h3>
      <div class="bg-slate-900 border p-2 border-slate-600 rounded-xl my-2">
        <p>
          {{chosenEntry.first_name}} {{chosenEntry.last_name}}
        </p>
      </div>
    </div>

    <div class="py-2 my-1">
      <h3 class="">Inks</h3>

      <div class="border border-slate-600 border-gray-600 rounded-lg p-2 
                  space-y-2 h-80 overflow-y-auto">

        @for (ink of chosenEntry.inks; track ink.user_ink_id) {
        <div class="bg-slate-900 rounded-xl overflow-hidden shadow-sm flex items-center gap-4 p-4">

          <div class="w-16 h-16 flex-shrink-0 rounded-lg overflow-hidden bg-slate-800">
            <img src="{{ink.image_url}}" class="w-full h-full object-cover" alt="{{ink.product_name}}" />
          </div>

          <div class="flex-1 min-w-0">
            <p class="text-neutral-50 truncate">{{ink.product_name}}</p>
            <p class="text-neutral-400 truncate">{{ink.manufacturer}}</p>
            <p class="text-neutral-500 mt-1">{{ink.color}}</p>
          </div>

        </div>
        }

      </div>
    </div>

    <div class="py-2 my-1">
      <h3 class="">Comments</h3>
      <div class="bg-slate-900 border p-2 border-slate-600 rounded-xl my-2">
        @if (chosenEntry.comments === '') {
        <p class="">No comments</p>
        } @else {
        <p>{{chosenEntry.comments}}</p>
        }
      </div>
    </div>

  </div>

  <div class="absolute bottom-2 left-0 right-0 p-4 ">
    <div class="flex gap-3">
      <button
        class="flex-1 border border-red-800 text-red-800 rounded-lg px-3 py-2 inline-flex items-center justify-center gap-2"
        (click)="sendDelete(chosenEntry)">
        <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
            clip-rule="evenodd"></path>
        </svg>
        Delete
      </button>

      <button class="flex-1 bg-slate-600 text-neutral-50 rounded-lg px-3 py-2" (click)="toggleUpdateModal(true)">
        Update info
      </button>
    </div>
  </div>

  <button
    class="absolute top-2 right-2 z-10 w-8 h-8 flex items-center justify-center bg-slate-600 text-neutral-400 rounded-full transition-colors"
    (click)="sendClose()">
    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
</div>


<ion-modal [isOpen]="showUpdateModal" (didDismiss)="toggleUpdateModal(false)">
  <ion-content [fullscreen]="true">
    <ng-template>
      <ng-toast></ng-toast>

      <div class="text-center mx-4">
        <h2>
          You're updating entry {{chosenEntry.entry_id}}
        </h2>
        <p>Please note that you can only update comments, date, time and inks that you have used.</p>
      </div>

      <div class="mx-4">
        <h3 class="my-1">Date</h3>

        <input id="date" type="datetime-local"
          class="border border-slate-600 text-slate-50 bg-slate-800 text-lg rounded-lg block w-full ps-10 p-2.5"
          value="2017-06-01T08:30" [(ngModel)]="chosenEntry!.entry_date" />
        <p>Current value: {{chosenEntry!.entry_date | date:'MMM d, y, h:mm' }}</p>
      </div>

      <div class="mx-4">
        <h3 class="my-1">Comments</h3>
        <input id="comments" type="text" value="Select a date"
          class="border border-slate-600 text-slate-50 bg-slate-800 text-lg rounded-lg block w-full ps-10 p-2.5"
          [(ngModel)]="chosenEntry!.comments" />
      </div>


      <div class="mx-4">
        <h3 class="mx-2 my-2">Chosen inks:</h3>
        <div class="border border-slate-600 rounded-lg p-2 
                  space-y-2 h-80 overflow-y-auto">
          @for (inkCtrl of chosenInks.controls; let i = $index; track inkCtrl.value.user_ink_id) {

          <div class="bg-slate-900 rounded-xl overflow-hidden shadow-sm flex items-center gap-4 p-4">

            <div class="w-16 h-16 flex-shrink-0 rounded-lg overflow-hidden bg-slate-800">
              <img src="{{inkCtrl.value.image_url}}" class="w-full h-full object-cover"
                alt="{{inkCtrl.value.product_name}}" />
            </div>

            <div class="flex-1 min-w-0">
              <p class="text-neutral-50 truncate">{{inkCtrl.value.product_name}}</p>
              <p class="text-neutral-400 truncate">{{inkCtrl.value.manufacturer}}</p>
              <p class="text-neutral-500 mt-1">{{inkCtrl.value.color}}</p>
            </div>
            <button class="bg-slate-700 text-neutral-50 font-lato text-l py-2 px-4 rounded-2xl"
              (click)="handleInkDelete(i)">Delete</button>

          </div>
          }
        </div>

      </div>
      <button
        class="pcustom bg-slate-700 border border-slate-600 focus:ring-4 focus:outline-none focus:ring-slate-400 rounded-lg text-sm px-4 py-3 mx-4 my-2 text-center"
        (click)="toggleInkModal(true)">Add inks</button>

      <div class="justify-center text-center py-2">
        <p class="">Please check before confirming.</p>

      </div>

      <div class="bottom-0 py-6 left-0 right-0 bg-slate-800 border-t border-slate-700 p-4 rounded-b-2xl">

        <div class="flex gap-3">
          <button
            class="flex-1 bg-slate-400 active:bg-slate-500 text-neutral-50 py-2.5 px-4 rounded-lg transition-colors"
            (click)="toggleUpdateModal(false)">
            Cancel
          </button>
          <button
            class="flex-1 bg-green-700 hover:bg-green-600 text-neutral-50 py-2.5 px-4 rounded-lg transition-colors disabled:bg-slate-700 disabled:text-slate-500 disabled:cursor-not-allowed"
            (click)="submit(chosenEntry)">
            Confirm
          </button>
        </div>
      </div>


      <!--ADD INKS MODAL-->
      <ion-modal [isOpen]="inkModal">
        <ng-template>
          <ng-toast></ng-toast>

          <div class="mx-4">

            <div class="text-center mx-4 my-4">
              <h2>Add inks from your library</h2>
            </div>

            <div class="px-4 pb-4">
              <ion-searchbar class="custom" animated="true" placeholder="Search" [(ngModel)]="searchInk" />
            </div>


            <div class="border border-slate-600 border-gray-600 rounded-lg p-2 
                  space-y-2 h-[60%] overflow-y-auto">

              @for (ink of filteredInks(); track ink.user_ink_id) {
              <div class="bg-slate-900 rounded-xl overflow-hidden shadow-sm flex items-center gap-4 p-4">

                <div class="w-16 h-16 flex-shrink-0 rounded-lg overflow-hidden bg-slate-800">
                  <img src="{{ink.image_url}}" class="w-full h-full object-cover" alt="{{ink.product_name}}" />
                </div>

                <div class="flex-1 min-w-0">
                  <p class="text-neutral-50 truncate">{{ink.product_name}}</p>
                  <p class="text-neutral-400 truncate">{{ink.manufacturer}}</p>
                  <p class="text-neutral-500 mt-1">{{ink.color}}</p>
                </div>
                <button
                  class="bg-slate-800 text-neutral-50 font-lato text-l py-2 px-4 rounded-2xl  focus:outline-2 focus:outline-slate-400"
                  (click)="chooseInk(ink)">Select</button>
              </div>

              }

            </div>
          </div>


          <div class="absolute bottom-0 left-0 right-0 bg-slate-800 border-t border-slate-700 p-4 rounded-b-2xl">

            <div class="flex gap-3">
              <button
                class="flex-1 bg-slate-400 active:bg-slate-500 text-neutral-50 py-2.5 px-4 rounded-lg transition-colors"
                (click)="toggleInkModal(false)">
                Cancel
              </button>
              <button
                class="flex-1 bg-slate-700 hover:bg-green-600 text-neutral-50 py-2.5 px-4 rounded-lg transition-colors disabled:bg-slate-700 disabled:text-slate-500 disabled:cursor-not-allowed"
                (click)="toggleInkModal(false)">
                Continue
              </button>
            </div>
          </div>

        </ng-template>
      </ion-modal>



    </ng-template>
  </ion-content>
</ion-modal>