ion-tab-bar {
  --color: oklch(47.6% 0.02 150.416); /* Default tab button text/icon color */
  --color-selected: oklch(87% 0.01 13); /* Selected tab color */
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 12px;
  --padding-end: 12px;
  min-height: 7%;
}

ion-tab-bar ion-icon {
  width: 50%;
  height: 50%;
}

@media only screen and (min-width: 431px) {
  ion-label {
    font-size: medium;
  }

  ion-tab-bar {
    min-height: 8.5%;
  }
}
