<ion-tabs>
  <ion-tab-bar style="--background: oklch(12.9% 0.042 264.695)" slot="bottom">

    <ion-tab-button tab="mainpage" href="/tabs/mainpage">
      <ion-icon src="assets/icon/home.svg"></ion-icon>
      <ion-label>Frontpage</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inks" href="/tabs/inks">
      <ion-icon aria-hidden="true" src="assets/icon/inks.svg"></ion-icon>
      <ion-label>Inks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="entries" href="/tabs/entries">
      <ion-icon aria-hidden="true" src="assets/icon/entries.svg"></ion-icon>
      <ion-label>Entries</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="customers" href="/tabs/customers">
      <ion-icon aria-hidden="true" src="assets/icon/customers.svg"></ion-icon>
      <ion-label>Customers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user" href="/tabs/user">
      <ion-icon aria-hidden="true" src="assets/icon/inks.svg"></ion-icon>
      <ion-label>User</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>