<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="mainpage" href="/tabs/mainpage">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Frontpage</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inks" href="/tabs/inks">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Inks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="entries" href="/tabs/entries">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Entries</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="customers" href="/tabs/customers">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Customers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user" href="/tabs/user">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>User</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>