<ion-content class="contact-bg">

  <div class="flex-1 p-6 text-center space-y-2 justify-center">

    <h1>Welcome to ATRA</h1>

    <div class="flex justify-center">
      <img width="90%" src="../../assets/img/logo1.png" />
    </div>


    <app-login></app-login>

    <div class="w-full bg-slate-900 text-neutral-100 font-lato text-lg px-18 py-4 px-4 my-4 rounded-2xl">Atra was
      designed to make safe and sustainable reporting easily accessible for tattoo artists in Finland. The software
      provides a tool for an
      improved ink traceability, leading to increased reporting levels and customer safety. Get started with your
      journey today!</div>

  </div>

  <button (click)="navigateToMain()" class="p-2 bg-slate-700 rounded-lg">DEV: Quick access to main page</button>

</ion-content>