<ion-content [fullscreen]="true">

  <h2> Privacy Policy </h2>

  <p div="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ducimus accusamus enim repellat,
    saepe itaque
    aspernatur voluptatem, nemo debitis, explicabo sunt culpa quam illum odio libero at fugiat modi laudantium. Lorem
    ipsum, dolor sit amet consectetur adipisicing elit. In sed eligendi quibusdam voluptatum molestiae? Doloremque
    ratione vel sunt. Similique sed suscipit facere esse ex atque vero ducimus. Accusamus, in fugit! Lorem ipsum dolor
    sit amet consectetur, adipisicing elit. Hic, veritatis. Officiis, tenetur. Qui nostrum illo inventore facere
    debitis. Nam blanditiis nostrum maxime veritatis maiores esse ipsum alias vel corrupti rem.</p>

  <button
    class="items-center gap-2 px-4 py-1 mx-30 my-2 bg-slate-700 text-neutral-50 font-lato border border-neutral-50/80 rounded-full"
    (click)="return()">Back to Settings</button>

</ion-content>