<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="atra">ATRA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Entries</h2>
  <ion-searchbar class="custom" animated="true" placeholder="Search" />
  <div class="bg-slate-50 m-2 p-2">
    <h1>One </h1>
  </div>

  <div class="bg-slate-100 m-2 p-2">
    <h1>Two </h1>
  </div>

  <div class="bg-slate-200 m-2 p-2">
    <h1>Three</h1>
  </div>

  <div class="bg-slate-300 m-2 p-2">
    <h1>Four</h1>
  </div>

  <div class="bg-slate-400 m-2 p-2">
    <h1>Five</h1>
  </div>

  <div class="bg-slate-500 m-2 p-2">
    <h1>Six</h1>
  </div>

  <div class="bg-slate-600 m-2 p-2">
    <h1>Seven</h1>
  </div>

  <div class="bg-slate-700 m-2 p-2">
    <h1>eight</h1>
  </div>

  <div class="bg-slate-800 m-2 p-2">
    <h1>Nine</h1>
  </div>

  <div class="bg-slate-900 m-2 p-2">
    <h1>Ten</h1>
  </div>

  <div class="bg-slate-950 m-2 p-2">
    <h1>Eleven</h1>
  </div>
</ion-content>