<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="atra">ATRA</ion-title>
  </ion-toolbar>
</ion-header> -->

@if (chosenEntry && singleEntryModal) {
<app-singleentry (delete)="deleteEntry($event)" (close)="handleClosed()" [chosenEntry]="chosenEntry" [entries]="entries"
  [groupedEntries]="groupedEntries"></app-singleentry>
} @else {
<ion-content [fullscreen]="true">

  <div class="flex-1 p-6 text-neutral-950 text-center space-y-2">
    <h1 class="text-neutral-50">Entries</h1>
    <h2 class="text-neutral-50">Your entries and their information.</h2>
  </div>

  <ion-searchbar class="custom" animated="true" placeholder="Search" />

  <div class="fixed bottom-5 left-1/2 transform -translate-x-1/2 z-20">
    <button
      class="flex items-center text-xl gap-2 px-4 py-4 bg-slate-600 text-neutral-50 font-lato font-si border border-slate-900 rounded-full transition drop-shadow-xl drop-shadow-slate-800"
      (click)="addNew()">

      <span class="text-l"> + </span> Add new
    </button>
  </div>

  <!--Ulkoinen silmukka käy läpi jokaisen groupedEntriesin, joka on asetettu taulukkomuotoon ger groupedEntriesArray-funktiolla.
  -->
  @for (group of groupedEntries; track group.date) {
  <h3 class="text-lg font-lato text-slate-50 px-2 mx-4">{{ group.date | date:'mediumDate' }}</h3>

  <!--Sisäinen silmukka iteroi läpi jokaisen entryn, joka sisältää entry_id, entry_date, comments, User_user_id, Customer_customer_id.
  -->
  @for (entry of group.entries; track entry.entry_id)
  {
  <div class="flex flex-col bg-slate-800 border p-2 border-neutral-50/60 rounded-xl my-2 mx-4"
    (click)="chooseEntry(true, entry.entry_id)">
    <h2 class="text-m text-neutral-50">{{entry.entry_date | date:'HH:mm'}}</h2>
    <p class="text-sm text-neutral-400">Customer: {{ entry.first_name }}, {{entry.last_name}}</p>

  </div>
  }
  }


</ion-content>
}