<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="atra">ATRA</ion-title>
  </ion-toolbar>
</ion-header> -->

@if (chosenEntry && singleEntryModal) {
<app-singleentry (delete)="deleteEntry($event)" (close)="handleClosed()" [chosenEntry]="chosenEntry" [entries]="entries"
  [groupedEntries]="groupedEntries"></app-singleentry>
} @else {
<ion-content [fullscreen]="true">

  <div class="flex-1 p-6 text-neutral-950 text-center space-y-2">
    <h1 class="text-neutral-50">Entries</h1>
    <div class="pcustom">Your entries and their information.</div>
  </div>

  <div class="px-4 pb-4">
    <ion-searchbar value="Custom Clear Icon" class="custom" animated="true" placeholder="Search"
      [(ngModel)]="searchItem" />
  </div>

  <div class="fixed bottom-6 left-1/2 transform -translate-x-1/2 z-20">
    <button class="relative flex items-center gap-2 px-8 py-3 bg-slate-600 shadow-xl text-neutral-50 rounded-full"
      (click)="addNew()">
      <span class="text-xl leading-none">+</span>
      <p>Add new</p>
    </button>
  </div>

  @for (group of (searchItem !== '' ? filteredEntries() : groupedEntries); track group.date) {
  <h2 class="px-2 mx-4">{{ group.date}}</h2>

  <!--Sisäinen silmukka iteroi läpi jokaisen entryn, joka sisältää entry_id, entry_date, comments, User_user_id, Customer_customer_id.
  -->
  @for (entry of group.entries; track entry.entry_id)
  {
  <div class="flex flex-col bg-slate-800 border p-2 border-neutral-50/60 rounded-xl my-2 mx-4"
    (click)="chooseEntry(true, entry.entry_id)">
    <h3 class="text-neutral-50">{{entry.entry_date | date:'HH:mm'}}</h3>
    <p class="text-neutral-50">Customer: {{ entry.first_name }}, {{entry.last_name}}</p>

  </div>
  }
  }

</ion-content>
}