ion-modal#example-modal {
  --height: fit-content;
  --width: 95%;
}

ion-modal#example-modal::part(backdrop) {
  background: rgba(0, 0, 0, 2) !important;
}

ion-modal#example-modal::part(content) {
  --background: transparent !important;
}

.scrollable {
  max-height: 25vh;
  overflow-y: auto;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 0.5em;
}
