<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="atra">ATRA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>TÄMÄ ON PUBLIC LIBRARY</h2>

  <button class="p-2 bg-blue-600 mx-2">
    <a tab="inks/publiclibrary" href="/tabs/inks/publiclibrary">Ink
      catalog </a>
  </button>

  <button class="p-2 bg-blue-600 mx-2">
    <a tab="inks/publiclibrary" href="/tabs/inks">Your inks</a>
  </button>

  <p>Here is where you can find our ink library. Browse, admire, or find something new to try.</p>
  <ion-searchbar animated="true" placeholder="Search" [(ngModel)]="searchItem"></ion-searchbar>

  <!--Musteet käydään läpi for-loopissa, noutamalla musteet filteredSearch()-metodin avulla-->
  @for (ink of filteredSearch(); track ink.ink_id) {
  <div class="box">
    <h3>{{ink.product_name}}</h3>
    <img src="{{ink.image_url}}" width="20%" />

    <button> <a (click)="chooseInk(true, ink)">Open </a></button>
  </div>
  }

</ion-content>


<ion-modal id="example-modal" [isOpen]="isModalOpen" (didDismiss)="setClosed(false)">
  <ng-template>

    <!--Tähän saa Milja tehtyä tyylit, HUOM. väliaikaiset tyylit publiclibrary.page.css jotka saa ottaa pois-->
    <div class="wrapper">

      <img src="{{selectedInk.image_url}}" width="20%" />
      <h1>{{selectedInk.product_name}}</h1>
      <p>Colour: (fetched from database later!) </p>
      <p>Batchnumber: {{selectedInk.batch_number}}</p>
      <p>Opened: {{selectedInk.opened_at}}</p>
      <p>Expires: {{selectedInk.expires_at}}</p>
      <button class="bg-blue-600"> <a (click)="setClosed(false)">Close</a></button>

    </div>

  </ng-template>
</ion-modal>