<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="atra">ATRA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>TÄMÄ ON PUBLIC LIBRARY</h2>

  <ion-button tab="inks/publiclibrary">Ink catalog</ion-button>
  <ion-button tab="inks/publiclibrary" href="/tabs/inks">Your inks</ion-button>

  <h2>Ink catalog</h2>
  <ion-searchbar animated="true" placeholder="Search"></ion-searchbar>

  <!--Musteiden läpikäynti, kommentoitu pois toistaiseksi-->
  <!-- @for (ink of allInks; track ink.product_name) {
  <div>
    <h3>{{ink.product_name}}</h3>
    <img src="{{ink.imageUrl}}" />
  </div>
  } -->
  <!--temporarydata -->

</ion-content>