<ion-content [fullscreen]="true">
  <h2>Hi username</h2> <img src="https://cdn.pixabay.com/photo/2020/06/30/10/23/icon-5355896_1280.png" width="40%" />

  <div>
    <button> <a tab="user/usersettings" href="/tabs/user/usersettings">User Settings</a></button>
  </div>

  <div>
    <button><a tab="user/appsettings" href="/tabs/user/appsettings">App Settings</a></button>
  </div>

  <div>
    <button><a tab="user/contacthelp" href="/tabs/user/contacthelp">Help</a></button>
  </div>

  <div>
    <button><a tab="user/privacy" href="/tabs/user/privacy">Privacy policy</a></button>
  </div>

  <div>
    <button> <a tab="user/privacy" href="/tabs/user/privacy">Log out</a></button>
  </div>

</ion-content>