<ion-content [fullscreen]="true" class="bg-slate-950">
  <div class="flex flex-col items-center justify-center min-h-full px-6 space-y-8">
    <!-- Icon -->
    <div class="flex justify-center items-center">
      <img src="https://cdn.pixabay.com/photo/2020/06/30/10/23/icon-5355896_1280.png"
        class="flex w-50 justify-center" />
    </div>

    <!-- Settings Buttons -->
    <div class="bg-slate-900 rounded-xl p-6 space-y-4 w-full max-w-md">
      <h1 class="text-neutral-50 text-2xl font-bold mb-4 text-center">
        Settings
      </h1>

      <button
        class="w-full bg-slate-700 text-neutral-50 font-lato  px-4 py-3 rounded-xl hover:bg-slate-600 transition-colors"
        (click)="usersettingsNavigate()">
        <p>User Settings</p>
      </button>

      <button
        class="w-full bg-slate-700 text-neutral-50 font-lato px-4 py-3 rounded-xl hover:bg-slate-600 transition-colors"
        (click)="appsettingsNavigate()">
        <p>App Settings</p>
      </button>

      <button
        class="w-full bg-slate-700 text-neutral-50 font-lato px-4 py-3 rounded-xl hover:bg-slate-600 transition-colors"
        (click)="contacthelpNavigate()">
        <p>Help</p>
      </button>

      <button
        class="w-full bg-slate-700 text-neutral-50 font-lato px-4 py-3 rounded-xl hover:bg-slate-600 transition-colors"
        (click)="privacyNavigate()">
        <p>Privacy Policy</p>
      </button>

      <!-- Logout Component -->
      <div>
        <app-logout></app-logout>
      </div>
    </div>
  </div>
</ion-content>