<ion-content [fullscreen]="true">
  <h2>Hi username</h2> <img src="https://cdn.pixabay.com/photo/2020/06/30/10/23/icon-5355896_1280.png" width="40%" />

  <div>
    <ion-button tab="user/usersettings" href="/tabs/user/usersettings">User Settings</ion-button>
  </div>

  <div>
    <ion-button tab="user/appsettings" href="/tabs/user/appsettings">App Settings</ion-button>
  </div>

  <div>
    <ion-button tab="user/contacthelp" href="/tabs/user/contacthelp">Help</ion-button>
  </div>

  <div>
    <ion-button tab="user/privacy" href="/tabs/user/privacy">Privacy policy</ion-button>
  </div>

  <div>
    <ion-button tab="user/privacy" href="/tabs/user/privacy">Log out</ion-button>
  </div>

</ion-content>