ion-modal#example-modal .wrapper {
  margin-bottom: 10px;
}

ion-modal#ink-details-modal {
  --width: 350px;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#example-modal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#update-ink-modal {
  --width: 350px;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

.small-text {
  font-size: 14px;
}