@use "tailwindcss";

@theme {
  --color-slate-50: oklch(65% 0.01 83); //1
  --color-slate-100: oklch(57% 0.01 80); //2
  --color-slate-200: oklch(47% 0.013 130.416); //3
  --color-slate-300: oklch(40% 0.019 175.416); //4
  --color-slate-400: oklch(35.6% 0.025 178.416); //5
  --color-slate-500: oklch(28.6% 0.03 178.416); //6
  --color-slate-600: oklch(22.5% 0.03 178.524); //7
  --color-slate-700: oklch(18.5% 0.04 183.416); //8
  --color-slate-800: oklch(15% 0.05 190); //9
  --color-slate-900: oklch(13% 0.05 190); //10
  --color-slate-950: oklch(11% 0.05 195); //11
}

@theme {
  --color-neutral-50: oklch(85% 0.01 13);
  --color-neutral-100: oklch(50% 0.01 13);
}

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
// @import "@ionic/angular/css/normalize.css";
// @import "@ionic/angular/css/structure.css";
// @import "@ionic/angular/css/typography.css";
// @import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
// @import "@ionic/angular/css/padding.css";
// @import "@ionic/angular/css/float-elements.css";
// @import "@ionic/angular/css/text-alignment.css";
// @import "@ionic/angular/css/text-transformation.css";
// @import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

// @import "@ionic/angular/css/palettes/dark.always.css";
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

:root {
  --ion-background-color: oklch(12.232% 0.02081 201.719);
  --ion-background-color-rgb: rgb(0, 8, 9);

  --ion-text-color: oklch(85% 0.02 183);
  --ion-text-color-rgb: rgb(192, 210, 207);

  --ion-toolbar-background: oklch(28.6% 0.03 178.416);
  --ion-toolbar-color: oklch(12.232% 0.02081 201.719);

  --ion-tab-bar-background: oklch(15% 0.05 190);
  --ion-tab-bar-color: oklch(47.6% 0.02 150.416);
  --ion-tab-bar-color-selected: oklch(87% 0.01 13);

  --ion-tab-button-justify-content: center;
  --ion-tab-button-align-items: center;
}

ion-tab-button {
  flex: 1;
}

ion-searchbar.custom {
  --background: oklch(18.5% 0.04 183.416);
  --color: oklch(62% 0.01 13);
  --placeholder-color: #fff;
  --icon-color: #fff;
  --clear-button-color: #fff;
  --border-radius: 4px;
}

ion-toolbar {
  font-family: "Macondo Swash Caps";
  --padding-top: 9%;
  --padding-bottom: 9%;
  text-align: center;
  justify-content: center;
  text-shadow: 1px 1px 2px rgb(58, 113, 104), 0 0 1em rgb(0, 0, 0),
    0 0 0.2em rgb(5, 43, 38);
  background-image: url("./assets/img/background1vertical.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

ion-title {
  font-size: x-large;
  font-weight: 200;
}

ion-tab-bar {
  font-family: "Crimson Text", serif;
}

@layer components {
  .ng-select.custom .ng-select-container {
    @apply border border-gray-300 text-slate-50 bg-slate-800 text-lg rounded-lg block w-full p-2.5 focus:ring-slate-500 focus:border-slate-900;
  }

  .ng-select.custom .ng-dropdown-panel {
    @apply border border-gray-300 text-slate-50 bg-slate-800 text-lg rounded-lg block w-full p-2.5 focus:ring-slate-500 focus:border-slate-900;
  }

  .ng-select.custom .ng-option {
    @apply px-2 py-2;
  }

  .ng-select.custom .ng-option-selected {
    @apply bg-slate-600 text-neutral-50;
  }
}

@media screen and (min-width: 319px) {
  ion-tab-bar {
    min-height: 8%;
  }
  ion-tab-button {
    font-size: 16px;
    letter-spacing: 1px;
  }
  ion-icon {
    font-size: 36px;
  }
}

@media screen and (min-width: 431px) {
  ion-tab-bar {
    min-height: 8.5%;
  }

  ion-tab-button {
    font-size: 20px;
  }
  ion-icon {
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) {
  ion-tab-bar {
    min-height: 10%;
  }

  ion-tab-button {
    font-size: 24px;
    letter-spacing: 2px;
  }
  ion-icon {
    font-size: 54px;
  }
}

ion-modal.transparent-modal::part(backdrop) {
  background: rgba(0, 0, 0, 0.6);
}

ion-modal.transparent-modal::part(content) {
  background: transparent !important;
  --background: transparent !important;
  box-shadow: none !important;
}

ion-modal.transparent-modal .ion-page {
  background: transparent !important;
}

.scrollable {
  max-height: 20vh;
  overflow-x: auto;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 0.5em;
}

.scrollable-wide {
  max-height: 90%;
  overflow-y: auto;
  padding: 0.5rem;
  margin: 0.5em;
}

/*
TÄSTÄ ETEENPÄIN VOI MUOKATA 
*/
p {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

h3 {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

h2 {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

h1 {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}

button {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.inkbuttons {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
