@use "tailwindcss";

@theme {
  --color-slate-50: oklch(62% 0.01 13); //1
  --color-slate-100: oklch(54% 0.01 50); //2
  --color-slate-200: oklch(47% 0.013 130.416); //3
  --color-slate-300: oklch(40% 0.019 175.416); //4
  --color-slate-400: oklch(35.6% 0.025 178.416); //5
  --color-slate-500: oklch(28.6% 0.03 178.416); //6
  --color-slate-600: oklch(22.5% 0.03 178.524); //7
  --color-slate-700: oklch(18.5% 0.04 183.416); //8
  --color-slate-800: oklch(15% 0.053 190.416); //9
  --color-slate-900: oklch(13% 0.05 190); //10
  --color-slate-950: oklch(11% 0.05 195); //11
}

@theme {
  --color-neutral-50: oklch(85% 0.01 13);
  --color-neutral-100: oklch(50% 0.01 13);
}

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
// @import "@ionic/angular/css/normalize.css";
// @import "@ionic/angular/css/structure.css";
// @import "@ionic/angular/css/typography.css";
// @import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
// @import "@ionic/angular/css/padding.css";
// @import "@ionic/angular/css/float-elements.css";
// @import "@ionic/angular/css/text-alignment.css";
// @import "@ionic/angular/css/text-transformation.css";
// @import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

// @import "@ionic/angular/css/palettes/dark.always.css";
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

:root {
  --ion-background-color: oklch(11% 0.05 195);
}
